*{
  background: transparent; !important
  color: black;
  font-size: 12pt;
  font-family: serif;
}

a{
  text-decoration: none;
  color: black;
  font-size: 12pt;
}

h1{
  font-size: 24pt;
  margin: 0;
}

h2{
  font-size: 14pt;
  margin: 0;
}

h3, h4{
  font-size: 12pt;
  margin: 0;
  font-weight: bold;
}

nav{
  display: none;
}

article{
  position: relative;
}

.date{
  position: absolute;
  top: 0;
  right: 0;
}

p, section, article, ul{
  margin: 0;
}

.logo{
  display: none;
}
