@import url(https://fonts.googleapis.com/css?family=Montserrat|Shadows+Into+Light);

body{
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

html{
  width: 960px;
}

#container{
    margin: 0 100px;
}

a{
  text-decoration: none;
  color: rgb (255, 98, 10);
  font-style: bold;
}

nav,
address{
  text-align: center;
}

a:active,
a:visited,
a{
  color: #222;
}

a:hover{
  color: rgb(255, 98, 10);
}

nav ul li{
  display: inline;
}

nav ul li::before{
  content: " |";
  color: rgb(255, 98, 10);
}

h1{
  font-family: "Shadows Into Light", "Helvetica", sans-serif;
  color: rgb(255, 98, 10);;
  text-align: center;
  font-size: 50px;
  margin: 1px;
}

h2{
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 25px;
  color: rgb(255, 98, 10);
}

h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

h3~p{
  margin-top: 1px;
}

p,
ul li{
  margin-top: 0;
  margin-bottom: 0;
  color: #555;
}

article,
#diplomas{
  position: relative;
}

.date{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
}

.languages{
  position: absolute;
  bottom: 38px;
  left: 605px;
}
